@model IEnumerable<CascadingDropdown.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h1>Movies</h1>
        </div>
        <div class="col-md-6 text-right">
            <a asp-action="Create" class="btn btn-primary">New</a>
        </div>        
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Title)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Genre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rating)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ImdbUrl)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Genre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ImdbUrl)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a> 
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary">Details</a> 
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

